<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- ADD FILE TO GITIGNORE IF CONTAINING SECRETS-->
	<connectionStrings>
		<add name="movies" connectionString="Data Source=localhost;Initial Catalog=movies;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>